
#Body {
    background-color: #dddddd ;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container2 {
    display: flex;
    justify-content: flex-start;
}

#LogoDiv {

    text-align: center;
    margin-top: 200px;

}

#FormDiv {

    text-align: center;

}

#SearchBar {
    position: relative;
    text-align: left;
    padding-left: 10px;
    height: 45px;
    width: 700px;
    box-shadow: 10px 10px 10px #444444;
    border-radius: 10px;
    font-size: 15px;
}

#SearchButton {
    margin-top: 10px;
    background-color: #eeeeee ;
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 150px;
    box-shadow: 5px 5px 5px #444444;
    border-radius: 10px;

}


#resultLogo{

    width: 150px;
    height: 55px;
}

#resultSearchBar{
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #444444;
    height: 35px;
    padding-left: 10px;

}

#resultSearchButton {
    margin-top: 8px;
    font-size: 10px;
    margin-left: 10px;
    position: relative;
    box-shadow: 5px 5px 5px #444444;
    height: 35px;
    border-radius: 10px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;

}


